body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
<<<<<<< HEAD
    background: rgb(38, 146, 28);
=======
    background: chocolate
>>>>>>> 217800d78b2f7f8aa3e7123044c3f2f7618d7bf1
}

h1 {
    text-align: center;
    margin-top: 50px;
}

label {
    display: block;
    margin-top: 20px;
    font-weight: bold;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    text-align: center;
    display: block;
    width: 100px;
    padding: 10px;
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#output {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

